<nav class="navbar" >
  <div class="nav-computer">
    <div class="title">
      <h1>Rick and Morty Winki</h1>
    </div>
    <div class="nav-link">
      <a class="nav-item" routerLink="/home">Home</a>
      <a class="nav-item" routerLink="/characters">Characters</a>
      <a class="nav-item" routerLink="/episodes">Episodes</a>
      <a class="nav-item" routerLink="/locations">Locations</a>
    </div>
  </div>
  <div class="nav-mobile">
    <div class="button-collapse">
      <button (click)="toggleMenuMobile()">
        <span> menu </span>
      </button>
    </div>
    <div class="menu-collapse" *ngIf="isMenuMobileOpen">
      <a class="nav-item" routerLink="/home" (click)="linkClick()">Home</a>
      <a class="nav-item" routerLink="/characters" (click)="linkClick()">Characters</a>
      <a class="nav-item" routerLink="/episodes" (click)="linkClick()">Episodes</a>
      <a class="nav-item" routerLink="/locations" (click)="linkClick()">Locations</a>
    </div>
  </div>
</nav>
