.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--bgheader);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 0.1rem  var(--black);
}
