@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  --darkgreen: #23381a;
  --green: #81af48;
  --lightblue: #02b0c4;
  --darkgray: #555555;
  --whitelighter: #ffffff;
  --darkwhite: #e1e1e1;
  --lightgray: #d3d3d3;
  --bgheader: #f5f5f5;
  --gray2: #f8f8f8;
  --gray3: #777777;
  --gray4: #d2d2d2;
  --gray5: #fafafa;
  --gray6: #1d1d1d;
  --gray7: #a6a4ad;
  --bluegray: #ceccd8;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--green);

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--gray2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--darkgray);
  }
}
html {
  scroll-behavior: smooth;
}
