<section class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Home</h1>
        <p>Welcome to Rick and Morty's World!</p>
      </div>
      <div class="cards">
        <div class="card" routerLink="/characters">
          <div class="title">
            <h1>Go to Characters information</h1>
          </div>
          <div class="info">
            <p>
              Here you can find all the information about the characters of the
              series
            </p>
          </div>
        </div>
        <div class="card" routerLink="/episodes">
          <div class="title">
            <h1>Go to Episodes information</h1>
          </div>
          <div class="info">
            <p>
              Here you can find all the information about the episodes of the
              series
            </p>
          </div>
        </div>
        <div class="card" routerLink="/locations">
          <div class="title">
            <h1>Go to Locations information</h1>
          </div>
          <div class="info">
            <p>
              Here you can find all the information about the locations of the
              series
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
